$primary-color: #6c5dd3;
$primary-color-shape4: #A79EE5;

$secondary-color: #ffa2c0;
$support-color-1: #ffce73;
$support-color-2: #FF754C;

$title-color: #1B1D21;

$gray-2-color: #A6A7B2;
$gray-1-color: #5F6164;
$gray-menu-color: #8494AB;

$natural-1-color: #F8F8F8;
$natural-2-color: #F0F3F6;
$natural-3-color: #E4E4E47F;
$natural-4-color: #E4E4E4;

$border-color: #E9EEF4;

$font-primary: "IBM Plex Sans";


