@use "./pages/home";
@use "../sass/abstracts/variables" as var;
@use "../sass/abstracts/mixins" as mx;
.home-wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 332px);
  gap: 60px;
}

.home-right-text {
  color: var.$gray-2-color;
  font-size: 1.3rem;
  line-height: 1.46; /* 146.154% */
}

@include mx.maxWidth(991.98px) {
  .home-wrapper {
    display: block;
  }
}
