@use "../abstracts/variables" as var;
.sidebar {
  padding: 48px 30px;
  border-right: 1px solid var.$border-color;

  @media screen and (max-width: 1440px) {
    display: none;
  }
}

.logo {
  margin-bottom: 44px;
}

.menu {
  --gap: 26px;

  &-item + &-item {
    margin-top: 6px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 20px;

    color: var.$gray-menu-color;
    font-size: 1, 4rem;
    font-weight: 600;
    line-height: 1.42em;

    min-width: 196px;
    height: 40px;
    background: #fff;
    border-radius: 12px;
    transition: all 0.2s linear;

    &:hover {
      background: var.$primary-color;
      color: white;

      [fill^="#E5"] {
        fill: white;
        opacity: 1;
      }

      [fill^="#A5"] {
        fill: var.$primary-color-shape4;
      }
    }
  }

  &__icon {
    flex: 0 0 24px;
  }

  &:not(:last-child)::after {
    content: "";
    display: block;
    height: 1px;
    background-color: var.$border-color;
    margin-block: var(--gap);
  }

  &__title {
    color: var.$gray-menu-color;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 1.3rem;
    line-height: 1.46em;
  }
}
