extends ./views/layout/dashboard
block vars 
  - var title= "Home Page"

append stylesheet
  link(rel="stylesheet", href="./styles/home.css")

block main-content 
  include ./views/components/home/hero