extends ./views/layout/dashboard

include ./views/mixins/home/mixins

block vars 
  - var title= "Home Page"

append stylesheet
  link(rel="stylesheet", href="./styles/home.css")

block main-content 
  include ./views/components/home/hero