extends ./views/layout/_dashboard

block vars 
  - var title= "Home Page"

append stylesheet
  link(rel="stylesheet", href="./styles/home.css")

block main-content
  .home-wrapper
    .home-left
      include ./views/components/home/_hosts.pug
      include ./views/components/home/_trending.pug
      include ./views/components/home/_feed.pug
    .home-right 
      include ./views/components/home/_top-podcast.pug
      include ./views/components/home/_follow.pug
      include ./views/components/home/_history.pug
      include ./views/components/home/_topic.pug
      include ./views/components/home/_playing.pug
  