extends ./views/layout/_dashboard

block vars 
  - var title= "Home Page"

append stylesheet
  link(rel="stylesheet", href="./styles/home.css")

block main-content
  .home-wrapper
    .home-left
      include ./views/components/home/_hosts.pug
      include ./views/components/home/_trending.pug
    .home-right 
  