mixin menuItem(data)
  .menu-item 
    a.menu__link(href= data.href)
      span.menu__icon 
        if data.icon  
          case data.icon  
            when "icon-home"
              include ../../icons/home-icon
            when "icon-trending"
              include ../../icons/trending-icon
            when "icon-cube"
              include ../../icons/cube-icon
            when "icon-play"
              include ../../icons/play-icon
            when "icon-subscription"
              include ../../icons/subscription-icon
            when "episodes"
              include ../../icons/episodes
            when "dashboard"
              include ../../icons/dashboard
            when "team"
              include ../../icons/team
            when "subscriber"
              include ../../icons/subscriber
      span.menu__text= data.text
