@use "../../abstracts/variables" as var;
@use "../../abstracts/mixins" as mx;
.host {
  &__heading {
    color: var.$title-color;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.5em; 
    margin-bottom: 20px;
  }

  &-list {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 70px;
    column-gap: 30px;
    padding: 2px 0;
    padding-left: 1px;
    overflow-x: auto;
    @include mx.hiddenScroll;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
  }

  &-user {
    text-align: center;
    scroll-snap-align: start;
  }

  &-user__avt {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 3px solid white;
    outline: 1.5px solid var.$secondary-white10;
    background: var(--color);
  }

  &-user__name {
    color: var.$gray-1-color;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42em; /* 142.857% */
  }
}
