@use "../abstracts/variables" as var;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: var.$font-primary;
  font-weight: 400;
  color: var.$title-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
