section.follow
  +sectionTop({title: "Suggested Follows", text_link: "View All",  link: "#!"})
  .follow-list  
    +followItem({scr_avt: "./images/home/follow-avt1.png", name: "Yahia Amin" , desc: "@yahiamdamin"})
    +followItem({scr_avt: "./images/home/follow-avt1.png", name: "Yahia Amin" , desc: "@yahiamdamin"})
    +followItem({scr_avt: "./images/home/follow-avt1.png", name: "Yahia Amin" , desc: "@yahiamdamin"})
    +followItem({scr_avt: "./images/home/follow-avt1.png", name: "Yahia Amin" , desc: "@yahiamdamin"})

