section.history 
  +sectionTop({title: "Listening history", text_link: "View All",  link: "#!"})
  .history-list 
    +historyItem({src_img: "./images/home/history-img-1.png", desc:"Perspective with Yahia Amin", title:"Don't Always Win | LifeSpring", watchs:"156", likes: "78", href: "#!"})
    +historyItem({src_img: "./images/home/history-img-1.png", desc:"Perspective with Yahia Amin", title:"Don't Always Win | LifeSpring", watchs:"156", likes: "78", href: "#!"})
    +historyItem({src_img: "./images/home/history-img-1.png", desc:"Perspective with Yahia Amin", title:"Don't Always Win | LifeSpring", watchs:"156", likes: "78", href: "#!"})