section.host 
  h2.host__heading Popular Hosts
  ul.host-list 
    each user in [{src_avt: "./images/home/host-avt-1.png", name: "Thomas", color: "#FFABC6"}, {src_avt: "./images/home/host-avt-2.png", name: "Darrell", color: "#FFD381"},{src_avt: "./images/home/host-avt-3.png", name: "Arlene", color: "#B6AEE9"},{src_avt: "./images/home/host-avt-4.png", name: "Kristin", color: "#FFB5CD"},{src_avt: "./images/home/host-avt-5.png", name: "Courtney", color: "#FFE2AB"},{src_avt: "./images/home/host-avt-6.png", name: "Cody", color: "#FFC7D9"},{src_avt: "./images/home/host-avt-7.png", name: "Arlene", color: "#B6AEE9"},{src_avt: "./images/home/host-avt-7.png", name: "Arlene", color: "#B6AEE9"}, {src_avt: "./images/home/host-avt-7.png", name: "Arlene", color: "#B6AEE9"}, {src_avt: "./images/home/host-avt-7.png", name: "Arlene", color: "#B6AEE9"}, {src_avt: "./images/home/host-avt-7.png", name: "Arlene", color: "#B6AEE9"}, {src_avt: "./images/home/host-avt-7.png", name: "Arlene", color: "#B6AEE9"}]
      +hostUser(user)

      