section.playing 
  +sectionTop({title: "Currently Playing",  link: "#!"})
  article.playing-categories
    img.playing__avt(src="./images/home/playing-avt.png", alt="")
    h3.playing__name Don't Always Win | LifeSpring
    p.playing__desc
      span.chapter Episode 1
      span.name Yahia Amin
    .playing-duration 
      span.start 1:30
      img.playing-duration__image(src="./icons/home/playing-duration.svg", alt="") 
      span.end 4:34
    .playing__buttons 
      img.playing__icon(src="./icons/home/playing-icon-1.svg", alt="")
      .playing__buttons-play

        img.playing__icon(src="./icons/home/playing-icon-2.svg", alt="")

        img.playing__icon(src="./icons/home/playing-icon-3.svg", alt="")

        img.playing__icon(src="./icons/home/playing-icon-4.svg", alt="")
      img.playing__icon(src="./icons/home/playing-icon-5.svg", alt="")
      img.playing__icon.last-icon(src="./icons/home/playing-icon-6.svg", alt="")