section.podcast
  +sectionTop({title: "Top 8 Podcast", text_link: "View All",  link: "#!"})
  .podcast-list 
    +podcastItemImage({href: "#!", link: "./images/home/podcast-img-1.png"})
    +podcastItemImage({href: "#!", link: "./images/home/podcast-img-1.png"})
    +podcastItemImage({href: "#!", link: "./images/home/podcast-img-1.png"})
    +podcastItemImage({href: "#!", link: "./images/home/podcast-img-1.png"})
    +podcastItemImage({href: "#!", link: "./images/home/podcast-img-1.png"})
    +podcastItemImage({href: "#!", link: "./images/home/podcast-img-1.png"})
    +podcastItemImage({href: "#!", link: "./images/home/podcast-img-1.png"})
    +podcastItemImage({href: "#!", link: "./images/home/podcast-img-1.png"})