section.trending 
  h2.trending__title Trending
  section.trending-banner 
    .trending-list
      each item in [{text_gradient: "UX Design", heading: "Mental Modeling Framework.", desc: "Podcast Episode - 1", author_name: "Thomas L. Fletcher", author_position: "Product Designer at UIHUT", src_image: "./images/home/trending-img.png 2x"}]
        +trendingItem(item)
    +dots(5, 3)
      