html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
  font: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: "IBM Plex Sans";
  font-weight: 400;
  color: #1B1D21;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

h2,
h3,
h4,
h5,
h6 {
  color: #1B1D21;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.43em;
}

body::-webkit-scrollbar {
  width: 8px;
}
body::-webkit-scrollbar-track {
  background: #E4E4E4;
}
body::-webkit-scrollbar-thumb {
  background-color: #6c5dd3;
  border-radius: 30px;
}

.section-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.section__heading {
  font-size: 1.6rem;
  font-weight: 600;
}
.section__view {
  display: flex;
  align-items: center;
  gap: 2px;
  color: #A6A7B2;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.38em; /* 138.462% */
}

.primary-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #6c5dd3;
  color: #F8F8F8;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.46em; /* 146.667% */
}
.primary-button:hover {
  opacity: 0.9;
}

.dots {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -16px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.dots .dot {
  width: 6px;
  height: 6px;
  background: #A6A7B2;
  border-radius: 50%;
  box-sizing: content-box;
}
.dots .dot--active {
  background: white;
  border: 2px solid #ffa2c0;
}

.toggle {
  position: relative;
  width: 30px;
  height: 17px;
  border-radius: 30px;
  background: #A6A7B2;
}
.toggle::after {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: white;
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
}

input.toggle:checked + .toggle {
  background: var(--gradient, linear-gradient(142deg, #415ef4 0%, #7141ef 100%));
}

input.toggle:checked + .toggle::after {
  left: inherit;
  right: 2px;
}

.header {
  padding: 20px 56px;
}
.header-inner {
  display: flex;
  align-items: center;
}
.header-form {
  position: relative;
  flex: 0 1 361px;
}
.header-form::after {
  content: "";
  position: absolute;
  left: 54px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 20px;
  background: #6c5dd3;
  display: block;
}
.header-form__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}
.header-search {
  padding: 12px 20px 12px 60px;
  width: 100%;
  height: 48px;
  color: #6c5dd3;
  font-weight: 500;
  background: #F0F3F6;
  border-radius: 12px;
  border: 2px solid transparent;
}
.header-search::placeholder {
  color: #A6A7B2;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46em; /* 146.667% */
}
.header-search:focus {
  border-color: #6c5dd3;
}
.header-cta {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 24px;
}
.header-cta__btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  min-width: 112px;
  height: 48px;
  border-radius: 8px;
}
.header-cta__message {
  margin-left: 36px;
  margin-right: 48px;
}
.header-cta__message, .header-cta__notify {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
}
.header-cta__message::before, .header-cta__notify::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  outline: 2px solid white;
  border-radius: 50%;
  background: #FF754C;
}
.header-user {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #ffa2c0;
}
.header-user__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
@media screen and (max-width: 767.98px) {
  .header {
    padding: 20px 24px;
  }
  .header-inner::before {
    content: url("../../icons/logo-mobile.svg");
  }
  .header-form, .header-cta {
    display: none;
  }
  .header-user {
    margin-left: auto;
  }
}

.sidebar {
  padding: 48px 30px;
  border-right: 1px solid #E9EEF4;
}
@media screen and (max-width: 1440px) {
  .sidebar {
    display: none;
  }
}

.logo {
  margin-bottom: 44px;
}

.menu {
  --gap: 26px;
}
.menu-item + .menu-item {
  margin-top: 6px;
}
.menu__link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 20px;
  color: #8494AB;
  font-size: 1, 4rem;
  font-weight: 600;
  line-height: 1.42em;
  min-width: 196px;
  height: 40px;
  background: #fff;
  border-radius: 12px;
  transition: all 0.2s linear;
}
.menu__link:hover {
  background: #6c5dd3;
  color: white;
}
.menu__link:hover [fill^="#E5"] {
  fill: white;
  opacity: 1;
}
.menu__link:hover [fill^="#A5"] {
  fill: #A79EE5;
}
.menu__icon {
  flex: 0 0 24px;
}
.menu:not(:last-child)::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #E9EEF4;
  margin-block: var(--gap);
}
.menu__title {
  color: #8494AB;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 1.3rem;
  line-height: 1.46em;
}

.wrapper {
  display: grid;
  grid-template-columns: 256px minmax(0, 1fr);
  min-height: 100vh;
}
@media screen and (max-width: 1440px) {
  .wrapper {
    display: block;
  }
}

.main-container {
  padding: 37px 56px;
}

@media screen and (max-width: 1440px) {
  .main-container {
    padding-inline: 24px;
  }
}
@media screen and (max-width: 767.98px) {
  .main-container {
    padding: 10px 24px;
  }
}

/*# sourceMappingURL=common.css.map */
